<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/mvc
                           http://www.springframework.org/schema/mvc/spring-mvc.xsd
                           http://www.springframework.org/schema/context
                           http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- spring mvc 注解驱动,目的是简化配置 -->
    <mvc:annotation-driven>
        <!-- 配置http message converter -->
        <mvc:message-converters>
            <!-- fastjson converter -->
            <bean class="com.alibaba.fastjson.support.spring.FastJsonHttpMessageConverter">
                <property name="fastJsonConfig">
                    <bean class="com.alibaba.fastjson.support.config.FastJsonConfig">
                        <!--</property>-->
                        <property name="dateFormat" value="yyyy-MM-dd HH:mm:ss"/>
                        <!-- fastjson特性 -->
                        <property name="features">
                            <list>
                                <value>IgnoreNotMatch</value>
                            </list>
                        </property>
                        <!-- 序列化特性 -->
                        <property name="serializerFeatures">
                            <list>
                                <value>PrettyFormat</value>
                                <value>IgnoreErrorGetter</value>
                                <value>IgnoreNonFieldGetter</value>
                            </list>
                        </property>
                    </bean>
                </property>
                <property name="supportedMediaTypes">
                    <list>
                        <value>application/json;charset=UTF-8</value>
                    </list>
                </property>
            </bean>
            <!-- string converter -->
            <bean class="org.springframework.http.converter.StringHttpMessageConverter">
                <constructor-arg index="0">
                    <bean class="java.nio.charset.Charset"
                          factory-method="forName">
                        <constructor-arg value="UTF-8"/>
                    </bean>
                </constructor-arg>
            </bean>
            <!-- other converter -->
            <bean class="org.springframework.http.converter.ByteArrayHttpMessageConverter"/>
            <bean class="org.springframework.http.converter.ResourceHttpMessageConverter"/>
        </mvc:message-converters>
    </mvc:annotation-driven>

    <!-- 包扫描,使用filter避免包扫描冲动 -->
    <context:component-scan base-package="com.dotp.web.controller" use-default-filters="false">
        <context:include-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
    </context:component-scan>

    <!-- velocity 配置 -->
    <bean id="velocityConfigurer" class="org.springframework.web.servlet.view.velocity.VelocityConfigurer">
        <property name="configLocation" value="classpath:velocity.properties"/>
        <property name="resourceLoaderPath" value="/WEB-INF/templates"/>
    </bean>

    <!-- 视图解析器 -->
    <bean id="viewResolver" class="org.springframework.web.servlet.view.velocity.VelocityLayoutViewResolver">
        <!-- 日期函数名称 -->
        <property name="dateToolAttribute" value="dateTool"/>
        <!-- 数字函数名称 -->
        <property name="numberToolAttribute" value="numberTool"/>
        <!-- toolbox文件路径 -->
        <property name="toolboxConfigLocation" value="/WEB-INF/tools.xml"/>
        <property name="contentType" value="text/html;charset=UTF-8"/>
        <!-- 是否曝光路径参数 -->
        <property name="exposePathVariables" value="false"/>
        <!-- 视图文件后缀名称 -->
        <property name="suffix" value=".vm"/>
        <!-- request属性引用名称 -->
        <property name="requestContextAttribute" value="request"/>
        <!-- 如果存在多个视图,视图优先级 -->
        <property name="order" value="0"/>
        <!-- 指定layout文件 -->
        <property name="layoutUrl" value="layout.vm"/>
    </bean>

    <!-- 静态资源路径 -->
    <mvc:resources mapping="/resources/**" location="WEB-INF/resources/"/>

</beans>