<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:axon="http://www.axonframework.org/schema/core"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.axonframework.org/schema/core
                           http://www.axonframework.org/schema/axon-core.xsd">

    <axon:annotation-config />
    <axon:command-bus id="commandBus"/>
    <axon:event-bus id="eventBus"/>

    <!-- 注意：axon目前只支持Mongo2.x的driver，因些eventStore不采用mongo，目前采用FileSystemEventStore -->
    <axon:filesystem-event-store base-dir="${axon.file.system.event.store}" id="eventStore"/>

    <!-- event sourcing repository依赖event store -->
    <axon:event-sourcing-repository id="eventSourcingRepository"
                                    event-store="eventStore"/>

</beans>