<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:axon="http://www.axonframework.org/schema/core"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.axonframework.org/schema/core
                           http://www.axonframework.org/schema/axon-core.xsd">

    <axon:annotation-config />
    <axon:command-bus id="commandBus"/>
    <axon:event-bus id="eventBus"/>

    <!-- TODO mongo -->
    <bean class="org.axonframework.eventstore.mongo.MongoEventStore">
        <constructor-arg name="mongo">
            <bean class="org.axonframework.eventstore.mongo.DefaultMongoTemplate">
                <constructor-arg name="mongo">
                    <bean class="com.mongodb.Mongo">
                    </bean>
                </constructor-arg>
            </bean>
        </constructor-arg>
    </bean>

</beans>