<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:axon="http://www.axonframework.org/schema/core"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.axonframework.org/schema/core
                           http://www.axonframework.org/schema/axon-core.xsd">

    <axon:annotation-config />
    <axon:command-bus id="commandBus"/>
    <axon:event-bus id="eventBus"/>

    <!-- 注意：axon目前只支持Mongo2.x的driver，因些eventStore不采用mongo，目前采用FileSystemEventStore -->
    <axon:filesystem-event-store base-dir="${axon.file.system.event.store}" id="eventStore"/>

    <!-- 配置taskExecutor -->
    <bean id="taskExecutor" class="org.springframework.scheduling.concurrent.ThreadPoolTaskExecutor">
        <property name="corePoolSize" value="${axon.taskExecutor.corePoolSize}"/>
        <property name="maxPoolSize" value="${axon.taskExecutor.maxPoolSize}"/>
        <property name="waitForTasksToCompleteOnShutdown" value="${axon.taskExecutor.waitForTasksToCompleteOnShutdown}"/>
    </bean>

    <!-- 配置snapshotter -->
    <axon:snapshotter id="snapshotter" event-store="eventStore" executor="taskExecutor"/>

    <!-- event sourcing repository依赖event store -->
    <axon:event-sourcing-repository id="userEventSourcingRepository"
                                    aggregate-type="com.dotp.core.facade.entities.User"
                                    event-store="eventStore">
        <axon:snapshotter-trigger event-count-threshold="${axon.eventSourcingRepository.event.count.threshold}" snapshotter-ref="snapshotter"/>
    </axon:event-sourcing-repository>

    <axon:saga-manager id="sagaManager" event-bus="eventBus">
        <axon:types>
            com.dotp.core.facade.handler.event.UserEventHandler
        </axon:types>
    </axon:saga-manager>

</beans>